{{ content_for_index }}
<!-- Start of Judge.me code -->
      <div class='jdgm-carousel-wrapper' data-auto-install='false' >
        {% assign jm_metafields = shop.metafields.judgeme %}
        <div class='jdgm-carousel-title-and-link'>
          <h2 class='jdgm-carousel-title'>Let customers speak for us</h2>
          <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'>
            <span style='display:block'  data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span>
            <span style='display: block' class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'>
              from {{ shop.metafields.judgeme.all_reviews_count }} reviews
            </span>
          </span>
        </div>
        {{ jm_metafields.featured_carousel }}
      </div>
      <!-- End of Judge.me code -->
      <div id="shopify-section-static-newsletter" class="shopify-section shopify-section--isolated"><section class="section section--isolated section--tight section--text-centered" data-section-id="static-newsletter" data-section-type="newsletter">
    <div class="container container--giga-narrow"><h2 class="heading h3">Regístrese en nuestro boletín informativo.</h2><div class="rte">
          <p>
Suscríbete y recibe un código de descuento del 15% en el total de tu pedido, además, mantente al tanto de promociones y novedades exclusivas de La Tienda Mix.</p>
        </div><div class="newsletter"><form method="post" action="/contact#newsletter-static-newsletter" id="newsletter-static-newsletter" accept-charset="UTF-8" class="form newsletter__form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="contact[tags]" value="newsletter">

            <div class="form__input-row">
              <div class="form__input-wrapper form__input-wrapper--labelled">
                <input type="email" id="newsletter[contact][email]" name="contact[email]" class="form__field form__field--text form__field--borderless" required="">
                <label for="newsletter[contact][email]" class="form__floating-label">Tu email</label>
              </div>

              <button type="submit" class="form__submit button button--new">Suscribirse</button>
            </div></form><p class="newsletter__text">100% grátis, cancele su inscripción en cualquier momento.</p></div>
    </div>
  </section>

  <style>
    #shopify-section-static-newsletter {
      background: #1e2d7d;
      color: #ffffff;
    }
  </style></div>